name: ci
on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: taskflow
          POSTGRES_PASSWORD: taskflow
          POSTGRES_DB: taskflow
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U taskflow -d taskflow"
          --health-interval=3s
          --health-timeout=3s
          --health-retries=20

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.25.x"

      - name: Install migrate
        run: |
          curl -L https://github.com/golang-migrate/migrate/releases/download/v4.18.1/migrate.linux-amd64.tar.gz | tar xvz
          sudo mv migrate /usr/local/bin/migrate

      - name: Run unit tests
        run: go test ./... -v

      - name: Run migrations
        env:
          DATABASE_URL: postgres://taskflow:taskflow@localhost:5432/taskflow?sslmode=disable
        run: migrate -path ./migrations -database "$DATABASE_URL" up

      - name: Run integration tests
        env:
          DATABASE_URL: postgres://taskflow:taskflow@localhost:5432/taskflow?sslmode=disable
        run: go test ./test/integration -tags=integration -v -count=1
